@import url("./sf-css-variables.css");

:root {
  --base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";

  --base-font-size: 16px;
  --base-font-weight: 400;
  --small-font-size: calc(var(--base-font-size) * 0.875);
  --base-line-height: 1.5;

  --spacing-unit: 30px;

  --text-color: #111;
  --background-color: #fdfdfd;
  --brand-color: #2a7ae2;
  --brand-color-dark: #1756a9;

  --grey-color: #828282;
  --grey-color-light: #e8e8e8;
  --grey-color-dark: #424242;

  --table-text-align: left;

  --content-width: 800px;

  --on-palm: 600px;
  --on-laptop: 800px;
}

/**
 * Reset some basic elements
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */
body {
  font-weight: var(--base-font-weight);
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  font-family: var(--base-font-family);
  color: var(--text-color);
  background-color: var(--background-color);
  text-size-adjust: 100%;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure {
  margin-bottom: calc(var(--spacing-unit) / 2);
}

/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: var(--small-font-size);
}

/**
 * Lists
 */
ul,
ol {
  margin-left: var(--spacing-unit);
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--base-font-weight);
}

/**
 * Links
 */
a {
  color: var(--brand-color);
  text-decoration: none;

  &:visited {
    color: var(--brand-color-dark);
  }

  &:hover {
    color: var(--text-color);
    text-decoration: underline;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}

/**
 * Blockquotes
 */
blockquote {
  color: var(--grey-color);
  border-left: 4px solid var(--grey-color-light);
  padding-left: calc(var(--spacing-unit) / 2);
  font-size: calc(var(--base-font-size) * 1.125);
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

/**
 * Code formatting
 */
pre,
code {
  font-size: calc(var(--base-font-size) * 0.9375);
  border: 1px solid var(--grey-color-light);
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

/**
 * Wrapper
 */
.wrapper {
  width: min(var(--content-width), 90dvw);
  margin-right: auto;
  margin-left: auto;
}

/**
 * Clearfix
 */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Icons
 */

.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: var(--grey-color);
  padding-right: 5px;
  vertical-align: text-top;
}

.social-media-list {
  li + li {
    padding-top: 5px;
  }
}

/**
 * Tables
 */
table {
  margin-bottom: var(--spacing-unit);
  width: 100%;
  text-align: var(--table-text-align);
  /* color: lighten($text-color, 18%); */
  border-collapse: collapse;
  border: 1px solid var(--grey-color-light);
  tr {
    &:nth-child(even) {
      /* background-color: lighten($grey-color-light, 6%); */
    }
  }
  th,
  td {
    padding: calc(var(--spacing-unit) / 3) calc(var(--spacing-unit) / 2);
  }
  th {
    /* background-color: lighten($grey-color-light, 3%); */
    /* border: 1px solid darken($grey-color-light, 4%); */
    /* border-bottom-color: darken($grey-color-light, 12%); */
  }
  td {
    border: 1px solid var(--grey-color-light);
  }
}

/**
 * Site header
 */
.site-header {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 5px solid white;
  background-color: var(--sf-ccn-theme);

  display: flex;
  justify-content: center;
}

.site-header div.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header img {
  height: 30px;
}

.site-title {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: -1px;
  color: white;
  &:visited {
    color: white;
  }
}

.site-header .pages {
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: -1px;
  color: white;
  &:visited {
    color: white;
  }
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid var(--grey-color-light);
  padding: var(--spacing-unit) 0;
}

.footer-heading {
  font-size: calc(var(--base-font-size) * 1.125);
  margin-bottom: calc(var(--spacing-unit) / 2);
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

/**
 * Page content
 */
.page-content {
  /* padding: $spacing-unit 0; */
  padding: var(--spacing-unit) 0;
  flex: 1;
}

.page-heading {
  /* @include relative-font-size(2); */
  font-size: calc(var(--base-font-size) * 1.25);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: var(--spacing-unit);
  }
}

.post-meta {
  font-size: var(--small-font-size);
  color: var(--grey-color);
}

.post-link {
  display: block;
  font-size: calc(var(--base-font-size) * 1.5);
}

/**
 * Posts
 */
.post-header {
  margin-bottom: var(--spacing-unit);
}

.post-title {
  font-size: calc(var(--base-font-size) * 2.625);
  letter-spacing: -1px;
  line-height: 1;
}

.post-content {
  margin-bottom: var(--spacing-unit);
}

project-list {
  display: grid;
  grid-gap: 2rem;
}

@media (min-width: 800px) {
  project-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

project-card {
  display: flex;
  height: min-content;
  background-color: white;
  flex-direction: column;
  border: 1px solid var(--grey-color);
  padding: 2rem;
  border-radius: 1rem;
  font-size: 0.9rem;
  line-height: 1.2;
}

@media (min-width: 800px) {
  project-card.wide {
    grid-column: span 2;
  }
}

@media (min-width: 800px) {
  sidebar-wrapper {
    max-height: 100vh;
    display: grid;
    grid-template-columns: min(35dvw, 600px) 1fr;
    grid-gap: 2rem;
  }
  .site-header {
    box-sizing: border-box;
    height: 100vh;
    max-height: 100vh;
    border-top: none;
    padding-right: 3rem;
    padding-top: 2rem !important;
    padding-bottom: 4rem !important;
  }
  .site-header div.wrapper {
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
  }
  .site-title {
    text-align: right;
  }
  main {
    max-height: 100dvh;
    overflow-y: scroll;
    padding: 0 !important;
  }
  main > .wrapper {
    width: unset;
    max-width: var(--content-width);
    margin-left: 0;
    margin-top: 2rem;
    margin-bottom: 4rem;
    margin-right: 3rem;
  }
}

@media (max-width: 700px) {
  .site-title {
    font-size: 1.2rem;
  }
}
