<header class="site-header" role="banner">
  <div class="wrapper">
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
      <div>Center for Computational Neuroscience</div>
      <div>NeuroRSE Group</div>
    </a>
    <a class="pages" href="{{ "workshops" | relative_url }}">
       <div>Workshops</div>
    </a>
    <a href="https://www.simonsfoundation.org/flatiron/center-for-computational-neuroscience/">
      <img src="{{ '/assets/flatiron-logo.svg' | relative_url }}" />
    </a>
  </div>
</header>
