{%- if site.posts.size > 0 -%}
<h1 class="post-list-heading">News</h1>
<ul class="post-list">
  {%- for post in site.posts -%}
  <!-- if we've tagged a post as "past", then don't include it in news -->
  {%- if post.tags contains "past" -%}
    {% continue %}
  {%- endif -%}
  <li>
    {%- assign date_format = "%b %-d, %Y" -%}
    <span class="post-meta">{{ post.date | date: date_format }}</span>
    <h3>
      <a class="post-link" href="{{ post.url | relative_url }}">
        {{ post.title | escape }}
      </a>
    </h3>
    {%- if site.show_excerpts -%} {{ post.excerpt }} {%- endif -%}
  </li>
  {%- endfor -%}
</ul>
{%- endif -%}
