.DS_Store
.idea
*.log
tmp/

.ruby-version
.bundle
vendor
Gemfile.lock
coverage

# jekyll build directory
_site/

/ignored

# these are present on wbroderick's flatiron webserver
site/assets/fens-2024
